<svg width="200mm" height="300mm" viewBox="0 0 200 300">
  <defs>
    <linearGradient id="gradRGLine" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop style="stop-color:#b24848;" offset="0"/>
      <stop style="stop-color:#3f7e3d;" offset="1"/>
    </linearGradient>
    <linearGradient id="gradRGFill" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop style="stop-color:#da4646;" offset="0"/>
      <stop style="stop-color:#41b952;" offset="1"/>
    </linearGradient>
    <linearGradient id="gradGPLine" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0" style="stop-color:#3f7e3d;"/>
      <stop offset="1" style="stop-color:#6d47a7;"/>
    </linearGradient>
    <linearGradient id="gradGPFill" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0" style="stop-color:#41b952;"/>
      <stop offset="1" style="stop-color:#a041bb;"/>
    </linearGradient>
  </defs>
  <g transform="translate(46.279 -10)">
    <text class="text stepText" x="32" y="22.68622">Harvest sheep [6]</text>
    <text class="text stepText" x="32" y="57.495018">Chop wood [4]</text>
    <text class="text stepText" x="32" y="81.054878">Lure first boar [1]</text>
    <text class="text stepText" x="32" y="93.952591">Harvest berries [5]</text>
    <text class="text stepText" x="32" y="116.07225">Add shepherds [2]</text>
    <text class="text stepText" x="32" y="127.92117">Chop wood [5]</text>
    <text class="text stepText" x="32" y="157.00946">Mine gold [3]</text>
    <text class="text stepText" x="32" y="168.79195">Click Feudal [10:00]</text>
    <text class="text stepText" x="32" y="181.34569">Build Market & Blacksmith</text>
    <text class="text stepText" x="32" y="192.05431">Chop wood [2]</text>
    <text class="text stepText" x="32" y="199.65305">Click Castle [13:00]</text>
    <text class="text stepText" x="32" y="210.41528">Transfer shepherds to wood [3]</text>
    <text class="text stepText" x="32" y="227.90807">Build 2 Town Centers [8]</text>
    <text class="text stepText" x="32" y="274.91782">Make farms [7]</text>

    <text class="text vilCountText" fill="#da4646" x="96.542747" y="80.926445">7</text>
    <text class="text vilCountText" fill="#da4646" x="94.666077" y="93.884468">12</text>
    <text class="text vilCountText" fill="#da4646" x="88.207565" y="115.94168">14</text>
    <text class="text vilCountText" fill="#41b952" x="77.056534" y="127.73692">9</text>
    <text class="text vilCountText" fill="#41b952" x="73.85051" y="191.58263">11</text>
    <text class="text vilCountText" fill="#41b952" x="129.22" y="209.8687">14</text>
    <text class="text vilCountText" fill="#da4646" x="139.7511" y="209.86707">11</text>
    <text class="text vilCountText" fill="#da4646" x="76.702499" y="274.48166">18</text>

    <text class="text moreStepText" x="1.2159395" y="16.426397">2 Houses</text>
    <text class="text moreStepText" x="1.2159395" y="80.546844">2 Houses</text>
    <text class="text moreStepText" x="-30.487551" y="86.410599">Mill | Lure second boar</text>
    <text class="text moreStepText" x="-5.1816015" y="50.978054">Lumber camp</text>
    <text class="text moreStepText" x="-5.1816015" y="121.13364">Lumber camp</text>
    <text class="text moreStepText" x="-17.821657" y="109.79138">Shepherds → Farms</text>
    <text class="text moreStepText" x="-41.410225" y="268.68094">Transfer to wood (if needed) </text>
    <text class="text moreStepText" x="-22.066015" y="221.40846">Loom | Eco upgrades</text>

    <rect x="94.413" y="87.364" width="8.5" height="8.5" ry="1.9447" fill="none" stroke="#b24848" stroke-width=".3"/>

    <rect x="94.272" y="74.439" width="8.5" height="8.5" ry="1.9447" fill="none" stroke="#b24848" stroke-width=".3"/>
    <rect x="88.022" y="109.46" width="8.5" height="8.5" ry="1.9447" fill="none" stroke="#b24848" stroke-width=".3"/>
    <rect x="74.786" y="121.25" width="8.5" height="8.5" ry="1.9447" fill="none" stroke="#3f7e3d" stroke-width=".3"/>
    <g transform="translate(.87297 -.75605)" fill="none" stroke="#3f7e3d" stroke-width=".26458px">
      <path d="m23.207 52.491 7.3293 7.3293"/>
      <path d="m30.536 59.82h42.465"/>
    </g>
    <path d="m22.547 218.67v0.88172h-2.0961v1.8814h2.0961v0.88172l2.2862-1.8224z" fill="url(#gradGPFill)" stroke="url(#gradGPLine)" stroke-width=".5"/>
    <path d="m22.126 15.229v288.08" fill="none" stroke="#757575" stroke-width=".43601"/>
    <rect transform="rotate(90)" x="271.96" y="-23.566" width="3" height="3" fill="#da4646" stroke="#b24848" stroke-width=".5"/>
    <rect transform="rotate(90)" x="266.08" y="-23.579" width="3" height="3" fill="#da4646" stroke="#b24848" stroke-width=".5"/>
    <path d="m22.547 177.51v0.88172h-2.0961v1.8814h2.0961v0.88172l2.2862-1.8224z" fill="url(#gradGPFill)" stroke="url(#gradGPLine)" stroke-width=".5"/>
    <rect transform="rotate(45)" x="95.613" y="64.31" width="3" height="3" fill="#da4646" stroke="#b24848" stroke-width=".5"/>
    <path d="m22.547 171.63v0.88172h-2.0961v1.8814h2.0961v0.88172l2.2862-1.8224z" fill="url(#gradGPFill)" stroke="url(#gradGPLine)" stroke-width=".5"/>
    <path d="m24.08 122.08h-1.954-1.954l1.954-3.3845 0.97702 1.6922z" fill="#41b952" stroke="#3f7e3d" stroke-width=".5"/>
    <rect transform="rotate(45)" x="25.083" y="-6.2076" width="3" height="3" fill="#da4646" stroke="#b24848" stroke-width=".5"/>
    <text class="iconText" x="17.5" y="16.108938">1</text>
    <rect transform="rotate(45)" x="29.234" y="-2.0566" width="3" height="3" fill="#da4646" stroke="#b24848" stroke-width=".5"/>
    <text class="iconText" x="17.5" y="21.99021">2</text>
    <rect transform="rotate(45)" x="33.385" y="2.0944" width="3" height="3" fill="#da4646" stroke="#b24848" stroke-width=".5"/>
    <text class="iconText" x="17.5" y="27.850294">3</text>
    <rect transform="rotate(45)" x="37.536" y="6.2454" width="3" height="3" fill="#da4646" stroke="#b24848" stroke-width=".5"/>
    <text class="iconText" x="17.5" y="33.7202">4</text>
    <rect transform="rotate(45)" x="41.687" y="10.396" width="3" height="3" fill="#da4646" stroke="#b24848" stroke-width=".5"/>
    <text class="iconText" x="17.5" y="39.580292">5</text>
    <rect transform="rotate(45)" x="45.838" y="14.547" width="3" height="3" fill="#da4646" stroke="#b24848" stroke-width=".5"/>
    <text class="iconText" x="17.5" y="45.461571">6</text>
    <path d="m24.08 51.735-1.954-1e-6 -1.954 1e-6 1.954-3.3845 0.97702 1.6922z" fill="#41b952" stroke="#3f7e3d" stroke-width=".5"/>
    <text class="iconText" x="17.5" y="51.286423">7</text>
    <path d="m24.08 57.505h-1.954-1.954l1.954-3.3845 0.97702 1.6922z" fill="#41b952" stroke="#3f7e3d" stroke-width=".5"/>
    <text class="iconText" x="17.5" y="57.027908">8</text>
    <path d="m24.08 63.376-1.954-1e-6 -1.954 1e-6 1.954-3.3845 0.97702 1.6922z" fill="#41b952" stroke="#3f7e3d" stroke-width=".5"/>
    <text class="iconText" x="17.5" y="62.924217">9</text>
    <path d="m24.08 69.246h-1.954-1.954l1.954-3.3845 0.97702 1.6922z" fill="#41b952" stroke="#3f7e3d" stroke-width=".5"/>
    <text class="iconText" x="16" y="68.804245">10</text>
    <rect transform="rotate(45)" x="66.269" y="34.978" width="3" height="3" fill="#da4646" stroke="#b24848" stroke-width=".5"/>
    <text class="iconText" x="16" y="74.353859">11</text>
    <rect transform="rotate(90)" x="78.067" y="-23.586" width="3" height="3" ry="1.5" fill="#da4646" stroke="#b24848" stroke-width=".5"/>
    <text class="iconText" x="16" y="80.235146">12</text>
    <rect transform="rotate(90)" x="83.938" y="-23.586" width="3" height="3" ry="1.5" fill="#da4646" stroke="#b24848" stroke-width=".5"/>
    <text class="iconText" x="16" y="86.095222">13</text>
    <rect transform="rotate(90)" x="89.808" y="-23.586" width="3" height="3" ry="1.5" fill="#da4646" stroke="#b24848" stroke-width=".5"/>
    <text class="iconText" x="16" y="91.965126">14</text>
    <rect transform="rotate(90)" x="95.679" y="-23.586" width="3" height="3" ry="1.5" fill="#da4646" stroke="#b24848" stroke-width=".5"/>
    <text class="iconText" x="16" y="97.825218">15</text>
    <rect transform="rotate(90)" x="101.55" y="-23.591" width="3" height="3" ry="1.5" fill="#da4646" stroke="#b24848" stroke-width=".5"/>
    <text class="iconText" x="16" y="103.70649">16</text>
    <rect transform="rotate(45)" x="91.179" y="59.88" width="3" height="3" fill="#da4646" stroke="#b24848" stroke-width=".5"/>
    <text class="iconText" x="16" y="109.57641">17</text>
    <text class="iconText" x="16" y="115.84489">18</text>
    <text class="iconText" x="16" y="121.68153">19</text>
    <path d="m24.08 127.95h-1.954-1.954l1.954-3.3845 0.97702 1.6922z" fill="#41b952" stroke="#3f7e3d" stroke-width=".5"/>
    <text class="iconText" x="16" y="127.55196">20</text>
    <path d="m24.08 133.82h-1.954-1.954l1.954-3.3845 0.97702 1.6922z" fill="#41b952" stroke="#3f7e3d" stroke-width=".5"/>
    <text class="iconText" x="16" y="133.43275">21</text>
    <path d="m24.059 139.36h-1.954-1.954l1.954-3.3845 0.97702 1.6922z" fill="#41b952" stroke="#3f7e3d" stroke-width=".5"/>
    <text class="iconText" x="16" y="138.93936">22</text>
    <path d="m24.059 145.21h-1.954-1.954l1.954-3.3845 0.97702 1.6922z" fill="#41b952" stroke="#3f7e3d" stroke-width=".5"/>
    <text class="iconText" x="16" y="144.80977">23</text>
    <path d="m22.135 147.9 1.8804 1.3662-0.71826 2.2106h-2.3243l-0.71826-2.2106z" fill="#dec62f" stroke="#ccab35" stroke-width=".5"/>
    <text class="iconText" x="16" y="150.68021">24</text>
    <path d="m22.135 153.64 1.8804 1.3662-0.71826 2.2106h-2.3243l-0.71826-2.2106z" fill="#dec62f" stroke="#ccab35" stroke-width=".5"/>
    <text class="iconText" x="16" y="156.55063">25</text>
    <g transform="translate(.37886 -.39687)" fill="none" stroke="#b24848" stroke-width=".3">
      <path d="m22.683 16.744 7.8428 7.8428"/>
      <path d="m30.536 24.598h55.005"/>
    </g>
    <g transform="translate(.37886 5.1672)" fill="none" stroke="#b24848" stroke-width=".3">
      <path d="m22.778 69.674 7.7495 7.7495"/>
      <path d="m30.536 77.432h61.038"/>
    </g>
    <g transform="translate(.37886 4.9615)" fill="none" stroke="#b24848">
      <path d="m22.98 105.1 7.5517 7.5517" stroke-width=".30911"/>
      <path d="m30.536 112.65h54.179" stroke-width=".3"/>
    </g>
    <g transform="translate(.87297 5.0143)" fill="none" stroke="#3f7e3d" stroke-width=".3">
      <path d="m23.207 117.07 7.3293 7.3293"/>
      <path d="m30.536 124.4h42.439"/>
    </g>
    <path d="m30.229 170.34h63.836" fill="none" stroke="#e38625" stroke-width=".3"/>
    <text class="iconText" x="16" y="180.03357">26</text>
    <text class="iconText" x="16" y="174.16248">26</text>
    <path d="m22.135 159.5 1.8804 1.3662-0.71826 2.2106h-2.3243l-0.71826-2.2106z" fill="#dec62f" stroke="#ccab35" stroke-width=".5"/>
    <text class="iconText" x="16" y="162.41136">26</text>
    <g fill="none" stroke="#b24848" stroke-width=".3">
      <path d="m22.824 80.225 8.0763 8.0763"/>
      <path d="m30.9 88.301v7.4016h60.681"/>
    </g>
    <g transform="translate(.090394 34.409)" fill="none" stroke="#ccab35" stroke-width=".3">
      <path d="m23.207 117.07 7.3293 7.3293"/>
      <path d="m30.536 124.4h42.439"/>
    </g>
    <path d="m24.059 186.32h-1.954-1.954l1.954-3.3845 0.97702 1.6922z" fill="#41b952" stroke="#3f7e3d" stroke-width=".5"/>
    <text class="iconText" x="16" y="185.91354">27</text>
    <path d="m24.059 192.22h-1.954-1.954l1.954-3.3845 0.97702 1.6922z" fill="#41b952" stroke="#3f7e3d" stroke-width=".5"/>
    <text class="iconText" x="16" y="191.79353">28</text>
    <rect x="73.675" y="185.1" width="8.5" height="8.5" ry="1.9447" fill="none" stroke="#3f7e3d" stroke-width=".3"/>
    <path d="m30.795 201.2h63.836" fill="none" stroke="#e38625" stroke-width=".3"/>
    <g transform="translate(1.0583 -.88172)" fill="none" stroke="#6d47a7" stroke-width=".3">
      <path d="m22.547 175.28 8.0763 8.0763"/>
      <path d="m30.623 183.35h80.505"/>
    </g>
    <g transform="translate(.85178 69.257)" fill="none" stroke="#3f7e3d" stroke-width=".3">
      <path d="m23.207 117.07 7.3293 7.3293"/>
      <path d="m30.536 124.4h40.755"/>
    </g>
    <path d="m22.547 201.03v0.88172h-2.0961v1.8814h2.0961v0.88172l2.2863-1.8224z" fill="url(#gradRGFill)" stroke="url(#gradRGLine)" stroke-width=".5"/>
    <text class="iconText" x="16" y="203.55391">28</text>
    <path d="m22.547 206.91v0.88172h-2.0961v1.8814h2.0961v0.88172l2.2863-1.8224z" fill="url(#gradRGFill)" stroke="url(#gradRGLine)" stroke-width=".5"/>
    <text class="iconText" x="16" y="209.4339">28</text>
    <path d="m22.547 212.79v0.88172h-2.0961v1.8814h2.0961v0.88172l2.2863-1.8224z" fill="url(#gradRGFill)" stroke="url(#gradRGLine)" stroke-width=".5"/>
    <text class="iconText" x="16" y="215.3139">28</text>
    <text class="iconText" x="16" y="268.23392">29</text>
    <text class="iconText" x="16" y="274.11392">30</text>
    <g transform="translate(1.0583 28.585)" fill="none" stroke="#3f7e3d" stroke-width=".3">
      <path d="m22.547 175.28 8.0763 8.0763"/>
      <path d="m30.623 183.35h95.378"/>
    </g>
    <rect x="129.04" y="203.38" width="8.5" height="8.5" ry="1.9447" fill="none" stroke="#3f7e3d" stroke-width=".3"/>
    <rect x="139.57" y="203.38" width="8.5" height="8.5" ry="1.9447" fill="none" stroke="#b24848" stroke-width=".3"/>
    <rect transform="rotate(90)" x="277.84" y="-23.582" width="3" height="3" fill="#da4646" stroke="#b24848" stroke-width=".5"/>
    <text class="iconText" x="16" y="279.9938">31</text>
    <rect transform="rotate(90)" x="283.72" y="-23.565" width="3" height="3" fill="#da4646" stroke="#b24848" stroke-width=".5"/>
    <text class="iconText" x="16" y="285.87381">32</text>
    <rect transform="rotate(90)" x="289.6" y="-23.573" width="3" height="3" fill="#da4646" stroke="#b24848" stroke-width=".5"/>
    <text class="iconText" x="16" y="291.75381">33</text>
    <rect transform="rotate(90)" x="295.48" y="-23.595" width="3" height="3" fill="#da4646" stroke="#b24848" stroke-width=".5"/>
    <text class="iconText" x="16" y="297.63382">34</text>
    <rect transform="rotate(90)" x="301.36" y="-23.572" width="3" height="3" fill="#da4646" stroke="#b24848" stroke-width=".5"/>
    <text class="iconText" x="16" y="303.51382">35</text>
    <g transform="translate(.59869 163.9)" fill="none" stroke="#b24848">
      <path d="m22.98 105.1 7.5517 7.5517" stroke-width=".30911"/>
      <path d="m30.536 112.65h43.993" stroke-width=".3"/>
    </g>

    <rect x="76.517" y="268" width="8.5" height="8.5" ry="1.9447" fill="none" stroke="#b24848" stroke-width=".3"/>
    <text class="iconText" x="16" y="221.194">28</text>
    <path d="m22.547 230.43v0.88172h-2.0961v1.8814h2.0961v0.88172l2.2862-1.8224z" fill="url(#gradGPFill)" stroke="url(#gradGPLine)" stroke-width=".5"/>
    <text class="iconText" x="16" y="232.95401">28</text>
    <path d="m22.547 236.31v0.88172h-2.0961v1.8814h2.0961v0.88172l2.2862-1.8224z" fill="url(#gradGPFill)" stroke="url(#gradGPLine)" stroke-width=".5"/>
    <path d="m22.547 224.55v0.88172h-2.0961v1.8814h2.0961v0.88172l2.2862-1.8224z" fill="url(#gradGPFill)" stroke="url(#gradGPLine)" stroke-width=".5"/>
    <path d="m22.547 242.19v0.88172h-2.0961v1.8814h2.0961v0.88172l2.2862-1.8224z" fill="url(#gradGPFill)" stroke="url(#gradGPLine)" stroke-width=".5"/>
    <text class="iconText" x="16" y="227.07401">28</text>
    <path d="m22.547 248.07v0.88172h-2.0961v1.8814h2.0961v0.88172l2.2862-1.8224z" fill="url(#gradGPFill)" stroke="url(#gradGPLine)" stroke-width=".5"/>
    <text class="iconText" x="16" y="238.834">28</text>
    <path d="m22.547 253.95v0.88172h-2.0961v1.8814h2.0961v0.88172l2.2862-1.8224z" fill="url(#gradGPFill)" stroke="url(#gradGPLine)" stroke-width=".5"/>
    <text class="iconText" x="16" y="244.714">28</text>
    <path d="m22.547 259.83v0.88172h-2.0961v1.8814h2.0961v0.88172l2.2862-1.8224z" fill="url(#gradGPFill)" stroke="url(#gradGPLine)" stroke-width=".5"/>
    <text class="iconText" x="16" y="250.59401">28</text>
    <text class="iconText" x="16" y="256.474">28</text>
    <text class="iconText" x="16" y="262.354">28</text>
    <g transform="translate(1.0583 46.113)" fill="none" stroke="#6d47a7" stroke-width=".3">
      <path d="m22.547 175.28 8.0763 8.0763"/>
      <path d="m30.623 183.35h76.014"/>
    </g>
  </g>
</svg>
