<svg height="20" width="20" viewbox="0 0 20 20">
    <defs *ngIf="useGradient">
      <linearGradient [id]="fillUrl">
        <stop [class]="fromColorClass + 'FillStop'" offset="0"></stop>
        <stop [class]="jobColorClass + 'FillStop'" offset="1"></stop>
      </linearGradient>
      <linearGradient [id]="strokeUrl">
        <stop [class]="fromColorClass + 'StrokeStop'" offset="0"></stop>
        <stop [class]="jobColorClass + 'StrokeStop'" offset="1"></stop>
      </linearGradient>
    </defs>

    <polygon *ngIf="shape !== 'circle'" [class]="colorClass" [attr.points]="getPoints(shape)"
             [attr.fill]="(useGradient ? 'url(#' + fillUrl +')' : '')" [attr.stroke]="(useGradient ? 'url(#' + strokeUrl +')' : '')"/>
    <circle *ngIf="shape === 'circle'" [class]="colorClass" cx="10" cy="10" r="7"/>
</svg>
