<div class="page">
  <div class="pageGrid">
    <div class="header">
      <div class="flexrow">
        <p class="nav-arrow" [ngClass]="{'disabled': buildOrderIndex === 0}" (click)="changeBuildOrder(-1, $event)">←</p>
        <h1 class="title">{{ buildOrder.title }}</h1>
        <p class="nav-arrow" [ngClass]="{'disabled': buildOrderIndex === (buildOrders.length - 1)}" (click)="changeBuildOrder(1, $event)">→</p>
      </div>

      <p class="details">{{ buildOrder.feudalPop }}+{{ buildOrder.castlePop-buildOrder.feudalPop }} pop | {{ joinTimes([buildOrder.perfectTime, buildOrder.averageTime], ' | ') }}</p>
      <p class="attribution">by {{ buildOrder.attribution }}</p>
    </div>

    <div class="buildOrder" *ngIf="!showFull; else fullSVGDiv">
      <div class="step" *ngFor="let step of buildOrder.steps; index as stepNo">
        <p class="addText">{{ join(step.additionalText, ' | ') }}</p>

        <div class="action" *ngFor="let action of step.actions; index as actionNo">
          <p class="vilNum">{{ (action.num !== undefined ? action.num : '&nbsp;') }}</p>
          <div class="linel" [ngClass]="firstorlast([[step, buildOrder.steps], [action, step.actions]])"></div>
          <div class="liner" [ngClass]="firstorlast([[step, buildOrder.steps], [action, step.actions]])"></div>
          <app-icon class="icon" [action]="action"></app-icon>
        </div>

        <p class="text">
          {{
            replace(step.text, [
              ['$vils', step.actions.length],
              ['$time', toTime(step.time)]
            ])
          }}
        </p>
      </div>

    </div>

    <ng-template #fullSVGDiv>
      <app-full-svg class="body"></app-full-svg>
    </ng-template>
  </div>
</div>
