<div class="page">
  <div class="pageGrid">
    <div class="header">
      <div class="flexrow">
        <p class="nav-arrow" [ngClass]="{'disabled': buildOrderIndex === 0}" (click)="changeBuildOrder(-1, $event)">←</p>
        <h1 class="title">{{ buildOrder.title }}</h1>
        <p class="nav-arrow" [ngClass]="{'disabled': buildOrderIndex === (buildOrders.length - 1)}" (click)="changeBuildOrder(1, $event)">→</p>
      </div>

      <p class="details">{{ buildOrder.feudalPop }}+{{ buildOrder.castlePop-buildOrder.feudalPop }} pop | {{ [buildOrder.perfectTime, buildOrder.averageTime] | stringJoin }}</p>
      <p class="attribution">by {{ buildOrder.attribution }}</p>
    </div>

    <div class="buildOrder">
      <div class="step" *ngFor="let step of buildOrder.steps; index as stepNo">
        <p class="addText">{{ step.additionalText | stringJoin }}</p>

        <div class="action" *ngFor="let action of step.actions; index as actionNo">
          <p class="vilNum">{{ (action.num !== undefined ? action.num : '&nbsp;') }}</p>
          <div class="linel" [ngClass]="firstorlast([[step, buildOrder.steps], [action, step.actions]])"></div>
          <div class="liner" [ngClass]="firstorlast([[step, buildOrder.steps], [action, step.actions]])"></div>
          <app-action-icon class="action-icon" [action]="action"></app-action-icon>
        </div>

        <p class="text">{{ step.text }}</p>
      </div>
    </div>
  </div>
</div>
