.page-grid {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  row-gap: 20px;
  justify-items: center;
}

.header {
  display: grid;
  width: fit-content;
  grid-template-columns: auto minmax(0, 1fr) auto;
  grid-template-areas:
    "previousButton title nextButton"
    "details details details"
    "attribution attribution attribution";
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.title {
  margin: 0;
}


.nav-arrow {
  cursor: pointer;
  font-size: x-large;
  color: #ccc;
  margin: 0 10px;
}
.disabled {
  visibility: hidden;
}

.previous {
  grid-area: previousButton;
}

.next {
  grid-area: nextButton;
}

.details {
  grid-area: details;
  font-style: italic;
  margin-top: 0;
}

.attribution {
  grid-area: attribution;
  font-size: small;
  margin-top: 3px;
}

.build-order {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto auto minmax(0, 1fr);
  width: fit-content;
  grid-gap: 0px;
  justify-self: center;
}

.step {
  display: grid;
  grid-column: span 4;
  grid-template-columns: subgrid [additional-text-start] [additional-text-end action-start] [nothing] [action-end main-text-start] [main-text-end];
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 0px;
}
.step ~ .step {
  border-top: 1px solid #c7c7c7;
}

.additional-text {
  margin: 0 10px;
  grid-column: additional-text;
  justify-self: end;
  font-size: small;
}

.action {
  display: grid;
  grid-column: action;
  grid-template-columns: subgrid [vil-number-start] [vil-number-end action-icon-start] [action-icon-end];
  grid-template-rows: repeat(auto-fit);
  grid-auto-flow: column;
  align-items: center;
}

.vil-number {
  grid-column: vil-number;
  justify-self: right;
  margin: 0 3px 0 0;
  font-size: smaller;
}

.action-icon {
  grid-column: action-icon;
  height: 20px;
  padding: 5px 0;
  background-image: linear-gradient(#aaa, #aaa);
  background-size: 2px 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.step:first-of-type .action:not(.action ~ .action) .action-icon {
  background-size: 2px 50%;
  background-position: center bottom;
}
.step:last-of-type .action:last-of-type /* <- broken by main text being a div */ .action-icon {
  background-size: 2px 50%;
  background-position: center top;
}

.main-text {
  margin: 0 10px;
  grid-column: main-text;
  font-size: larger;
}
