.pageGrid {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  row-gap: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexrow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  margin: 0;
}

.nav-arrow:not(.disabled) {
  cursor: pointer;
  font-size: x-large;
  color: #ccc;
}
.disabled {
  cursor: default;
  visibility: hidden;
}

.details {
  font-style: italic;
  margin-top: 0;
}

.attribution {
  font-size: small;
  margin-top: 3px;
}

.buildOrder {
  display: grid;
  width: fit-content;
  grid-template-columns: minmax(0, 1fr) auto auto minmax(0, 1fr);
  grid-gap: 0px;
  justify-self: center;
}

p {
  margin: 0 10px;
}

.step {
  display: grid;
  grid-column: 1 / 5;
  grid-template-columns: subgrid;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 0px;
}
.step ~ .step {
  border-top: 1px solid #c7c7c7;
}

.addText {
  grid-column: 1;
  justify-self: end;
  font-size: small;
}

.action {
  grid-column: 2 / 4;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  align-items: center;
}

.vilNum {
  grid-column: 1;
  justify-self: right;
  margin: 0 3px 0 0;
  font-size: smaller;
}

.action-icon {
  grid-column: 2;
  height: 20px;
  padding: 5px 0;
  background-image: linear-gradient(#aaa, #aaa);
  background-size: 2px 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.step:first-of-type .action:first-of-type .action-icon {
  background-size: 2px 50%;
  background-position: center bottom;
}
.step:last-of-type .action:last-of-type .action-icon {
  background-size: 2px 50%;
  background-position: center top;
}

.text {
  grid-column: 4;
  font-size: larger;
}
