<div class="page">
  <div class="page-grid">
    <div class="header">
      <div class="nav-arrow" [ngClass]="{'disabled': disablePreviousButton}" (click)="!disablePreviousButton ? openBuildOrder(buildOrderIndex - 1) : 0">←</div>
        <h1 class="title">{{ buildOrder.title }}</h1>
      <div class="nav-arrow" [ngClass]="{'disabled': disableNextButton}" (click)="!disableNextButton ? openBuildOrder(buildOrderIndex + 1) : 0">→</div>
      <div class="details">{{ buildOrder.feudalPop }}+{{ buildOrder.castlePop-buildOrder.feudalPop }} pop | {{ [buildOrder.perfectTime, buildOrder.averageTime] | stringJoin }}</div>
      <div class="attribution">by {{ buildOrder.attribution }}</div>
    </div>

    <div class="build-order">
      <div class="step" *ngFor="let step of buildOrder.steps; index as stepNo">
        <div class="additional-text">{{ step.additionalText | stringJoin }}</div>
        
        <div class="action" *ngFor="let action of step.actions; index as actionNo">
          <div class="vil-number" >{{ action.num }}</div>
          <app-action-icon class="action-icon" [action]="action"></app-action-icon>
        </div>

        <div class="main-text">{{ step.text }}</div>
      </div>
    </div>
  </div>
</div>
